name: Deploy Pages
on: [push]
jobs:
  build-deploy:
    permissions:
      pages: write    # 关键权限1
      id-token: write # 关键权限2
    runs-on: self-hosted
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup Pages
      uses: actions/configure-pages@v3
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v2
      with:
        path: "./" 
    - name: Deploy
      uses: actions/deploy-pages@v2
